
#include "Base"

// Common
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(MYAPP_PREPROCESSOR_DEFINITIONS) NDEBUG NS_BLOCK_ASSERTIONS RELEASE_RELEASE=1
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
SEPARATE_STRIP = YES
VALIDATE_PRODUCT = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES