/* Use these: */
path {
	fill: #006600;
}
#check-id {
	fill: #00ff00;
}
#group-red path, path.red, path#id-red, #id-and-class.red, #by-id {
	fill: #00ff00;
}
#hidden {
	visibility: hidden;
}
#display-none {
	display: none;
}

/* These should get overridden: */
.red, #id-red, #style, #use-local, #id-and-class, #use-last {
	fill: #ff0000;
}

/* Use this: */
#use-last {
	fill: #00ff00;
}