<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Online / from Web</key>
	<dict>
		<key>fcpx-shadow-f823057a</key>
		<dict>
			<key>License</key>
			<string>n/a - linked</string>
			<key>From webpage</key>
			<string>http://voormedia.com/blog/2012/10/creating-svg-vector-graphics-for-maximum-browser-compatibility</string>
			<key>Source URL</key>
			<string>http://voormedia.com/blog/2012/10/creating-svg-vector-graphics-for-maximum-browser-compatibility/images/fcpx-shadow-f823057a.svg</string>
		</dict>
	</dict>
	<key>Special</key>
	<dict>
		<key>nil-demo-layered-imageview</key>
		<dict>
			<key>License</key>
			<string>Special magic name that tests nil images</string>
		</dict>
	</dict>
	<key>Contributed</key>
	<dict>
		<key>CSS.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>CSS.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>bike-frame</key>
		<dict>
			<key>License</key>
			<string>Public Domain, author: Vessi</string>
			<key>Source Local File</key>
			<string>bike-frame.svg</string>
		</dict>
		<key>Cycling_Lambie</key>
		<dict>
			<key>Source Local File</key>
			<string>Cycling_Lambie.svg</string>
			<key>License</key>
			<string>Public Domain, author: Vessi</string>
		</dict>
		<key>Scale Negative Direction</key>
		<dict>
			<key>Source Local File</key>
			<string>Scale-Negative-Direction.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>Reinel simplified-evenmore</key>
		<dict>
			<key>Source Local File</key>
			<string>Reinel_compass_rose-simplified-evenmore.svg</string>
			<key>License</key>
			<string>Creative Commons, adapted by Adam Martin</string>
		</dict>
		<key>New Tux</key>
		<dict>
			<key>Source Local File</key>
			<string>NewTux.svg</string>
			<key>License</key>
			<string>Public Domain, author: Larry Ewing</string>
			<key>Source URL</key>
			<string>http://upload.wikimedia.org/wikipedia/commons/b/b0/NewTux.svg</string>
		</dict>
		<key>sakamura opacity-test</key>
		<dict>
			<key>Source Local File</key>
			<string>sakamura-default-fill-opacity-test.svg</string>
			<key>License</key>
			<string></string>
		</dict>
		<key>explicit width (large)</key>
		<dict>
			<key>Source Local File</key>
			<string>svg-with-explicit-width-large.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>explicit width</key>
		<dict>
			<key>Source Local File</key>
			<string>svg-with-explicit-width.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>stroke-dash array</key>
		<dict>
			<key>Source Local File</key>
			<string>test-stroke-dash-array.svg</string>
			<key>License</key>
			<string>Public Domain, author: David Sweetman</string>
		</dict>
		<key>wave-1</key>
		<dict>
			<key>Source Local File</key>
			<string>test-wave-1.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>Text.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Text.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>UK only</key>
		<dict>
			<key>Source Local File</key>
			<string>uk-only.svg</string>
			<key>License</key>
			<string>Creative Commons</string>
		</dict>
		<key>voies</key>
		<dict>
			<key>Source Local File</key>
			<string>voies.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>Reinel_compass_rose simplified more</key>
		<dict>
			<key>Source Local File</key>
			<string>Reinel_compass_rose-simplified-more.svg</string>
			<key>License</key>
			<string>Creative Commons, adapted by Adam Martin</string>
		</dict>
		<key>Reinel_compass_rose simplified</key>
		<dict>
			<key>Source Local File</key>
			<string>Reinel_compass_rose-simplified-for-testing.svg</string>
			<key>License</key>
			<string>Creative Commons, adapted by Adam Martin</string>
		</dict>
		<key>Reinel_compass_rose</key>
		<dict>
			<key>Source Local File</key>
			<string>Reinel_compass_rose.svg</string>
			<key>License</key>
			<string>Creative Commons</string>
			<key>Source URL</key>
			<string>http://commons.wikimedia.org/wiki/File:Reinel_compass_rose.svg</string>
		</dict>
		<key>rotated-and-skewed-text</key>
		<dict>
			<key>Source Local File</key>
			<string>rotated-and-skewed-text.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>rounded-rects</key>
		<dict>
			<key>Source Local File</key>
			<string>rounded-rects.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>RainbowWing.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>RainbowWing.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>imagetag-layered.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>imagetag-layered.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>imageWithASinglePointPath.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>imageWithASinglePointPath.svg</string>
			<key>License</key>
			<string>Public Domain, author: Eric Shapiro (https://github.com/EricShapiro)</string>
		</dict>
		<key>Lion.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Lion.svg</string>
			<key>License</key>
			<string>Unknown, probably Public Domain.</string>
			<key>Source URL</key>
			<string>http://www-archive.mozilla.org/projects/svg/lion.svg</string>
		</dict>
		<key>Location_European_nation_states.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Location_European_nation_states.svg</string>
			<key>License</key>
			<string>Creative Commons</string>
			<key>Source URL</key>
			<string>http://en.wikipedia.org/wiki/File:Location_European_nation_states.svg</string>
		</dict>
		<key>map-alaska-onlysimple.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>map-alaska-onlysimple.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
		<key>Map.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Map.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>MathCurve-optimized.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>MathCurve-optimized.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>Monkey.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Monkey.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>Note.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Note.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>parent-clip.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>parent-clip.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>radial-gradient-opacity.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>radial-gradient-opacity.svg</string>
			<key>License</key>
			<string>Public Domain, author: Tomás Silcher</string>
		</dict>
		<key>radialGradientTest.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>radialGradientTest.svg</string>
			<key>License</key>
			<string>?</string>
		</dict>
		<key>australia_states_blank.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>australia_states_blank.svg</string>
			<key>License</key>
			<string>Creative Commons</string>
			<key>Source URL</key>
			<string>http://commons.wikimedia.org/wiki/File:Australia_states_blank.svg</string>
		</dict>
		<key>Blank_Map-Africa.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Blank_Map-Africa.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://en.wikipedia.org/wiki/File:Blank_Map-Africa.svg</string>
		</dict>
		<key>BlankMap-World6-Equirectangular.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>BlankMap-World6-Equirectangular.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://commons.wikimedia.org/wiki/File:BlankMap-World6-Equirectangular.svg</string>
		</dict>
		<key>breaking-1.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>breaking-1.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>Coins.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Coins.svg</string>
			<key>License</key>
			<string>Public Domain. Coins images Public Domain, http://pixabay.com/en/euro-2-coin-currency-europe-money-400287/</string>
		</dict>
		<key>CurvedDiamond.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>CurvedDiamond.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin (http://t-machine.org)</string>
		</dict>
		<key>Europe_states_reduced.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>Europe_states_reduced.svg</string>
			<key>License</key>
			<string>Public Domain?</string>
		</dict>
		<key>g-element-applies-rotation.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>g-element-applies-rotation.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>groups-and-layers-test.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>groups-and-layers-test.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>ImageAspectRatio.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>ImageAspectRatio.svg</string>
			<key>License</key>
			<string>Public Domain, Created by author based on PreserveAspectRatio.svg from the SVG spec. Snowman image Public Domain, http://www.publicdomainpictures.net/view-image.php?image=17565&amp;picture=snowman-decoration</string>
		</dict>
		<key>imagetag-layer2-sun.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>imagetag-layer2-sun.svg</string>
			<key>License</key>
			<string>Public Domain, author: Adam Martin</string>
		</dict>
	</dict>
	<key>SVG Spec</key>
	<dict>
		<key>arcs01</key>
		<dict>
			<key>Source Local File</key>
			<string>arcs01.svg</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/paths/arcs01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>arcs02</key>
		<dict>
			<key>Source Local File</key>
			<string>arcs02.svg</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/paths/arcs02.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>fillrule-evenodd.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>fillrule-evenodd.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/painting/fillrule-evenodd.svg</string>
		</dict>
		<key>radgrad01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>radgrad01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>StyleAttribute.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>StyleAttribute.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/styling/StyleAttribute.svg</string>
		</dict>
		<key>text01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>text01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/text/text01.svg</string>
		</dict>
		<key>tspan01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>tspan01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/text/tspan01.svg</string>
		</dict>
		<key>opacity01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>opacity01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>pattern01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>pattern01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
		</dict>
		<key>PreserveAspectRatio.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>PreserveAspectRatio.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG11/images/coords/PreserveAspectRatio.svg</string>
		</dict>
		<key>quad01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>quad01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/paths/quad01.svg</string>
		</dict>
		<key>cubic01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>cubic01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/paths/cubic01.svg</string>
		</dict>
		<key>lingrad01.svg</key>
		<dict>
			<key>Source Local File</key>
			<string>lingrad01.svg</string>
			<key>License</key>
			<string>Public Domain</string>
			<key>Source URL</key>
			<string>http://www.w3.org/TR/SVG/images/pservers/lingrad01.svg</string>
		</dict>
	</dict>
</dict>
</plist>
